{% extends 'base.html' %}
{% load static %}

{% block title %} Send Form {% endblock title %}
{% block head%}

{% endblock head %}
{% block body %}
    <div class="main">

        <h2>Dynamic content</h2>

        <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

        <form id="contact-form" class="contact-form" autocomplete="off">

            <p> Закажите обратный звонок и наш консультант свяжется с вами </p>
            <p class="contact-form__message"></p>

            <!-- Поле с именем -->
            <ul>
                <input id="name" name="name" type="text" class="contact-form__input_name"
                       placeholder="Введите ваше имя">
            </ul>

            <ul>
                <!-- Поле с телефоном -->
                <input id="phone" name="phone" type="tel" class="contact-form__input_phone"
                       placeholder="Введите ваш телефон">

            </ul>

            <ul>
                <p>Комментарий<br>
                    <textarea name="comment" cols="60" rows="20"></textarea></p>


            </ul>
            <ul>
                <!--Поле с темой в письме-->
                <input name="theme" type="hidden" class="contact-form__input_theme"
                       value="Заявка с сайта Course">
            </ul>
            <!--Кнопка отправки формы-->

            <ul>
                <button type="submit" class="contact-form__button">Отправить</button>
            </ul>
        </form>
    </div>

    <script src="{% static 'js/telegramForm.js' %}"></script>

{% endblock body %}