<!doctype html>
<html lang="en">
{% load static %}

<head>
{% block head %}
{% endblock head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" rel="script" crossorigin="anonymous"></script>
    <link href="/staticfiles/css/style1.css" rel="stylesheet" crossorigin="anonymous" >



    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'apps.my_site:index' %}" class="mylink"> COURSE </a></li>
        <li><a href="{% url 'apps.my_site:allCourses' %}">Все курсы</a>
            <!-- первый уровень выпадающего списка -->
            <ul>
                <li><a href="{% url 'apps.my_site:progCourse' %}">Программирование</a></li>
                <li><a href="{% url 'apps.my_site:disCourse' %}">Дизайн</a></li>
                <li><a href="{% url 'apps.my_site:linCourse' %}">Лингвистика</a></li>
            </ul>
        </li>
        <li><a href="{% url 'apps.my_site:webinar' %}">Вебинары</a>
            <ul>
                <li><a href="{% url 'apps.my_site:progWeb' %}">Программирование</a></li>
                <li><a href="{% url 'apps.my_site:disWeb' %}">Дизайн</a></li>
                <li><a href="{% url 'apps.my_site:linWeb' %}">Лингвистика</a></li>
            </ul>
        </li>
        <li><a href="{% url 'apps.my_site:contacts' %}">Контакты</a></li>
        <li style="text-align: right"><a href="{% url 'apps.my_site:authorization' %}">Войти</a></li>
    </ul>
</nav>

{% block body %}

{% endblock body %}

    <div class="footer">
        <h6 align=right><em>©Артамоновой Анастасии и Киселева Владислава ПИН-34</em></h6>
    </div>

</body>
</html>